*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

body > * {
    margin-bottom: 20px;
}

main {
    max-width: 40em;
    margin: 0 auto;
}

*:focus {
    outline: 4px solid black;
}

a {
    color: inherit;
}

p {
    margin: 0;
}

p + p {
    margin-top: 10px;
}

input,
textarea {
    display: block;
    width: 100%;
    border: none;
    background: #eee;
    border: 1px solid #000;
    font-size: 1em;
    padding: 10px;
    margin-top: 10px;
}

.button {
    color: #000;
    font-size: 12px;
    background: yellow;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    margin: 0 10px;
}

.button + .button {
    margin-top: 10px;
}

.button:disabled {
    color: #333;
}

.unstyled-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.app-title {
    background: yellow;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 10px;
}

.stage-page__list {
    padding: 0 10px;
}

.stage-page__classifications {
    margin-bottom: 10px;
}

.stage-page__classification {
    float: left;
    text-align: center;
    font-size: 12px;
    width: 50%;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid black;
}

.stage-page__classification--is-active {
    background: yellow;
    border: 1px solid transparent;
}

.stage-page__buttons {
    margin-bottom: 10px;
}

.stage-page__rankings {
    display: flex;
    flex-wrap: wrap;
    max-width: 40em;
    margin: 0 auto;
}

.stage-page__ranking {
    width: 50%;
    text-align: center;
    border-bottom: 2px solid transparent;
}

.stage-page__ranking--is-active {
    border-bottom: 2px solid black;
}

.stage-page__list a {
    padding: 10px;
    display: block;
    text-decoration: none;
}

.stage-page__standings-list {
    font-weight: 700;
}

.stage-page__standings-list li {
    padding: 10px;
}

/*
    We don't have to use @supports here since
    if this is not supported this would just
    ignored and so this is already an enhancement
    in itself.
*/
.stage-page__standings-list li:nth-child(even) {
    background: #eee;
}

.stage-page__stage-info,
.stage-page__standings {
    padding: 0 10px;
}

.stage-page__stage-info {
    padding-bottom: 20px;
    border-bottom: 8px solid yellow;
}

.stage-page__standings-list {
    padding: 0 20px;
}

.share-page__form {
    padding: 0 10px;
}

.share-page__input-group {
    margin-bottom: 20px;
}

.js-snackbar {
    margin-bottom: 0;
    position: fixed;
    max-width: 440px;
    background: #333;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    bottom: -150%;
    left: 5px;
    right: 5px;
    padding: 10px;
}

.js-snackbar.is--shown {
    bottom: 5px;
}

@supports (display: flex) {
    .stage-page__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .stage-page__classification {
        float: none;
    }
}

@supports (transform: translateY(100%)) {
    .js-snackbar {
        bottom: 0;
        transform: translateY(150%);
        transition: transform .3s ease-in-out;
    }

    .js-snackbar.is--shown {
        bottom: 5px;
        transform: translateY(0);
    }
}