<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail page</title>
</head>
<body>
    <h1>{{ name }}</h1>
    <p>{{ description }}</p>

    <form action="/share">
        <label>
            Mail een vriend
            <input type="email" name="email" />
        </label>

        <input type="hidden" name="name" value="{{ name }}">
        <input type="hidden" name="description" value="{{ description }}">
        <input type="hidden" name="url" value="{{ url }}">

        <button type="submit">Mailen</button>
    </form>
</body>
</html>