{% extends 'base.html' %}

{% block content %}
    <h2>Share the standings with your friends</h2>

    <form action="/send">
        <div>
            <label>
                Your friends' email
                <input type="email" name="email">
            </label>
        </div>

        <div>
            <label>
                Your message
                <textarea name="message" cols="30" rows="10"></textarea>
            </label>
        </div>

        <input type="hidden" name="stage_id" value="{{ id }}">
        <input type="hidden" name="classification" value="{{ classification }}">
        <input type="hidden" name="ranking" value="{{ ranking }}">

        <button>Submit</button>
    </form>
{% endblock %}